.login-form {
  height: 100vh;
  position: relative;
  background-image: url('/assets/svg/blob-haikei.svg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .form-island {
    position: absolute;
    width: 100%;
    height: 100%;
    &--wrapper {
      height: 100%;
      margin: 0 auto;
      width: 450px;
      transform: translateY(35%);
    }
  }
}

.mb-1 {
  margin-bottom: 1rem;
}


.tui-island.tui-island_size_m {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
